<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Odin Book", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <% if user_signed_in? %>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Find Friends", users_path%></li>
              <li><%= link_to "Invitations(#{current_user.pending_friends.count})", users_path %>
              <li><%= link_to("Log out", destroy_user_session_path, :method => :delete)%></li>
        <% else %>
          <li>    <%= link_to("Log in", new_user_session_path)%></li>
          <li> <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>